.chatWindowDefault .msg .msg-text {
    padding: 8px;
    min-width: 50px;
    word-break: break-word;
    transition: border-radius 0.5s;
    /* This is to align the emojis perfectly with the text */
    display: flex;
    align-items: center;
    white-space: break-spaces;
    padding-block: 2px;
    margin-left: 30px;
    font-size: 1.05rem;
    line-height: 1.375rem;
    white-space: break-spaces;
    word-wrap: break-word;
    user-select: text;
    color: #dcddde;
    font-weight: 400;
}

.chatWindowDefault .msg.last {
    margin-bottom: 12px;
}

.chatWindowDefault .msg {
    position: relative;
    margin-left: 5px;
}

.chatWindowDefault .msg .flex-box {
    padding: 0;
}

.chatWindowDefault .reaction {
    transition: background 0.2s;
    border-radius: 20px;
}

.chatWindowDefault .reactions .flex-box span {
    margin: 0;
}

.chatWindowDefault .reactions .reactionNumber {
    padding-right: 5px;
    font-size: 14px;
}

.chatWindowDefault .username {
    color: grey;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: #fff;
}

.chatWindowDefault .time {
    text-align: center;
    color: #a2a2a2;
    font-size: 11px;
}

.chatWindowDefault .user-reacted {
    color: #3e81ff;
}

@keyframes messageAnimation {
    from {
        opacity: 0;
        transform: translate3d(50px, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.messageAnimation-enter-active,
.messageAnimationIn,
.messageAnimation-leave-active,
.messageAnimationOut {
    animation-duration: .5s;
    animation-fill-mode: both;
}

.messageAnimation-enter-active,
.messageAnimationIn {
    animation-name: messageAnimation;
}

.messageAnimation-leave-active,
.messageAnimationOut {
    animation-name: messageAnimation;
}

.chatWindowDefault .msg-text .emojiImg {
    width: 17px;
    height: 17px;
    margin-left: 5px;
    margin-right: 5px;
}

.chatWindowDefault .oneEmoji .emojiImg {
    width: 50px;
    height: 50px;
}

.chatWindowDefault .reactions {
    position: relative;
    background-color: #1c1c1c;
    border-radius: 35px;
    height: max-content;
    display: flex;
    width: max-content;
    margin-left: 40px;
    top: 5px;
    margin-bottom: 10px;
}

.chatWindowDefault .reaction:hover {
    background-color: #2c2c2c;
    cursor: pointer;
}

.chatWindowDefault .messageActions {
    background-color: #1c1c1c;
    border-radius: 30px;
    transform: scale(0);
    transition: all 0.2s;
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    right: 0;
    padding: 2px;
    padding-inline: 7px;
}

.chatWindowDefault .messageActions .icon {
    cursor: pointer;
    opacity: 0.8;
    transition: transform 0.2s;
}

.chatWindowDefault .messageActions .icon:hover {
    opacity: 1;
}

.chatWindowDefault .messageActions .icon:active {
    transform: scale(0.9);
}

.chatWindowDefault .msg:hover .messageActions {
    transform: scale(1);
}

.chatWindowDefault .msg:hover .msg-text {
    background-color: #ffffff0d;
    transition: all .2s;
    transition-delay: .5s;
    border-radius: 5px;
}

.chatWindowDefault .inline-block {
    display: block !important;
}

.chatWindowDefault .msg-gif {
    margin-left: 35px;
}

.chatWindowDefault .messageActions {
    width: max-content;
    min-width: 50px;
}

.chatWindowDefault .messageActions .card-text {
    margin: 0;
    padding: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}

.chatWindowDefault .messageActions .list-item-content p {
    padding-inline: 15px;
}

.chatWindowDefault .messageActions .b-list-item {
    margin: 0;
    width: 95%;
}

.chatWindowDefault .messageActions .b-list-item .list-item-content {
    padding: 0;
}

.chatWindowDefault .reactions .flex-box span {
    margin: 0;
}

.chatWindowDefault .reactions .reactionNumber {
    padding-right: 5px;
    font-size: 13px;
}

.chatWindowDefault html:not(.dark) .msg-text {
    color: white;
}

.chatWindowDefault html:not(.dark) .time {
    color: #000 a8;
}

.chatWindowDefault html:not(.dark) .msg:not(.me) .msg-text {
    background-color: #e1e1e1;
    color: black;
}

.chatWindowDefault html:not(.dark) .reactions {
    background-color: #fff;
}

.chatWindowDefault html:not(.dark) .reaction:hover {
    background-color: #e5e5e5;
}

.chatWindowDefault html:not(.dark) #emojiBtn {
    color: #565656;
}

.chatWindowDefault textarea {
    min-height: 50px;
}

.chatWindowDefault .msg-gif img {
    border-radius: var(--ui-radius);
}

.chatWindowDefault .msg .senderAvatar {
    align-self: baseline;
}

.chatWindowDefault .info-message {
    font-size: 15px;
    margin: auto;
    display: block;
    width: max-content;
    background-color: rgb(37, 37, 37);
    border-radius: var(--ui-radius);
    margin-bottom: 5px;
}