.chatWindowDefault {
    .msg .msg-text {
        padding: 8px;
        min-width: 50px;
        word-break: break-word;
        transition: border-radius 0.5s;
        /* This is to align the emojis perfectly with the text */
        display: flex;
        align-items: center;
        white-space: break-spaces;
        padding-block: 2px;
        margin-left: 30px;
        font-size: 1.05rem;
        line-height: 1.375rem;
        white-space: break-spaces;
        word-wrap: break-word;
        user-select: text;
        color: #dcddde;
        font-weight: 400;
    }

    .msg.last {
        margin-bottom: 12px;
    }

    .msg {
        position: relative;
        margin-left: 5px;
    }

    .msg .flex-box {
        padding: 0;
    }

    .reaction {
        transition: background 0.2s;
        border-radius: 20px;
    }

    .reactions .flex-box span {
        margin: 0;
    }

    .reactions .reactionNumber {
        padding-right: 5px;
        font-size: 14px;
    }

    .username {
        color: grey;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.375rem;
        color: #fff;
    }

    .time {
        text-align: center;
        color: #a2a2a2;
        font-size: 11px;
    }

    .user-reacted {
        color: #3e81ff;
    }

    @keyframes messageAnimation {
        from {
            opacity: 0;
            transform: translate3d(50px, 0, 0);
        }

        to {
            opacity: 1;
            transform: none;
        }
    }

    .messageAnimation-enter-active, .messageAnimationIn, .messageAnimation-leave-active, .messageAnimationOut {
        animation-duration: 0.5s;
        animation-fill-mode: both;
    }

    .messageAnimation-enter-active, .messageAnimationIn {
        animation-name: messageAnimation;
    }

    .messageAnimation-leave-active, .messageAnimationOut {
        animation-name: messageAnimation;
    }

    .msg-text .emojiImg {
        width: 17px;
        height: 17px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .oneEmoji .emojiImg {
        width: 50px;
        height: 50px;
    }

    .reactions {
        position: relative;
        background-color: #1c1c1c;
        border-radius: 35px;
        height: max-content;
        display: flex;
        width: max-content;
        margin-left: 40px;
        top: 5px;
        margin-bottom: 10px;
    }

    .reaction:hover {
        background-color: #2c2c2c;
        cursor: pointer;
    }

    .messageActions {
        background-color: #1c1c1c;
        border-radius: 30px;
        transform: scale(0);
        transition: all 0.2s;
        position: absolute;
        display: block;
        padding: 0;
        margin: 0;
        right: 0;
        padding: 2px;
        padding-inline: 7px;
    }

    .messageActions .icon {
        cursor: pointer;
        opacity: 0.8;
        transition: transform 0.2s;
    }

    .messageActions .icon:hover {
        opacity: 1;
    }

    .messageActions .icon:active {
        transform: scale(0.9);
    }

    .msg:hover .messageActions {
        transform: scale(1);
    }

    .msg:hover .msg-text {
        background-color: #ffffff0d;
        transition: all 0.2s;
        transition-delay: 0.5s;
        border-radius: 5px;
    }

    .inline-block {
        display: block !important;
    }

    .msg-gif {
        margin-left: 35px;
    }

    .messageActions {
        width: max-content;
        min-width: 50px;
    }

    .messageActions .card-text {
        margin: 0;
        padding: 0 !important;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
    }

    .messageActions .list-item-content p {
        padding-inline: 15px;
    }

    .messageActions .b-list-item {
        margin: 0;
        width: 95%;
    }

    .messageActions .b-list-item .list-item-content {
        padding: 0;
    }

    .reactions .flex-box span {
        margin: 0;
    }

    .reactions .reactionNumber {
        padding-right: 5px;
        font-size: 13px;
    }

    html:not(.dark) .msg-text {
        color: white;
    }

    html:not(.dark) .time {
        color: #000 a8;
    }

    html:not(.dark) .msg:not(.me) .msg-text {
        background-color: #e1e1e1;
        color: black;
    }

    html:not(.dark) .reactions {
        background-color: #fff;
    }

    html:not(.dark) .reaction:hover {
        background-color: #e5e5e5;
    }

    html:not(.dark) #emojiBtn {
        color: #565656;
    }

    textarea {
        min-height: 50px;
    }

    .msg-gif img {
        border-radius: var(--ui-radius);
    }

    .msg .senderAvatar {
        align-self: baseline;
    }

    .info-message {
        font-size: 15px;
        margin: auto;
        display: block;
        width: max-content;
        background-color: rgb(37, 37, 37);
        border-radius: var(--ui-radius);
        margin-bottom: 5px;
    }
}