
@import '../../variables.styl';

.fileUpload {
    transition: background-color 0.2s;
    height: 65vh;

    &.me {
        background-color: var(--sl-color-primary-600);
        color: var(--sl-panel-background-color);
    }
}

.file {
    background-color: var(--sl-color-neutral-200);
    border-radius: 5px;
    position: relative;
    margin-bottom: 5px;
}

.file .progress {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 5px;
    background-color: var(--sl-color-primary-600);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 0;
    transition: all 1s;
}

.file .spinner_parent {
    position: static;
    transform: scale(0.5);
    margin: -15px;
    margin-right: 1px;
}

html:not(.dark) .file {
    background-color: white;
}

.fileUploadScreen {
    position: relative;
    top: 15vh;
}

