@import '../../../variables.styl';

#groupArchivedMessage {
    padding: 15px;
    background-color: lighten($bg-dark, 9%);
    display: flex;
    align-items: center;

    .btn {
        padding: 5px;
    }
}

.msg-text {
    blockquote {
        border-left: 3px solid var(--sl-color-primary-500);
        padding-left: 10px;
        margin: 0;
        opacity: 0.7;
    }
}

&.me {
    blockquote {
        border-color: white;
    }
}

.memberLabel {
    position: absolute;
    right: 0;
    top: 8px;
    // font-size: 14px;
    // border-radius: 5px;
    // padding-inline: 5px;
}

.memberActionButtons {
    position: absolute;
    right: 0;
    top: 1px;
}

#tagPreview {
    width: max-content;
    margin: auto;
    border-radius: 7px;
    padding-inline: 10px;
    font-size: 20px;
}

.userTag {
    color: var(--tagColor);
    border: 1px solid var(--tagColor);
    padding-block: 0px;
    padding-inline: 5px;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 12px;
    position: relative;
    bottom: 1px;
    // To make the text contrasting enough
    filter: brightness(1.15);
}

#totTags {
    .tag {
        position: relative;

        .tagCloseButton {
            position: absolute;
            right: 0;
            top: 0px;
            background-color: var(--tagColor);
            border-radius: 7px;
            padding-left: 5px;
            padding-right: 7px;
            bottom: 0;
            opacity: 0;
            cursor: pointer;
            transition: opacity 0.2s, transform 0.2s;

            &:active {
                transform: scale(0.9);
            }
        }

        &:hover .tagCloseButton {
            opacity: 1;
        }
    }
}

.tagSelectDialog {
    width: 285px;
    --padding: var(--sl-spacing-small);

    .tag::part(base) {
        cursor: pointer;

        &:active {
            transform: scale(0.95);
        }
    }
}

// .memberInfo:hover .memberActionButtons {
// opacity: 1;
// }
.isAdmin .memberLabel:not(.adminLabel) {
    right: 60px;
}

html:not(.dark) {
    #groupArchivedMessage {
        background-color: white;
        border: 1px solid darken($bg, 5%);
    }
}

sl-input::part(base), sl-textarea::part(base) {
    border-radius: var(--sl-input-border-radius-large);
}

#uploadShort::after {
    content: '+';
    width: 20px;
    height: 20px;
    border-radius: 30px;
    display: block;
    position: absolute;
    right: -3px;
    bottom: -6px;
    background-color: var(--sl-color-primary-500);
    text-align: center;
    font-size: 14px;
    transition: transform 0.2s;
    cursor: pointer;
    line-height: 1.3;
    color: var(--sl-panel-background-color);
    font-weight: 700;
}

sl-tab-group.centered {
    &::part(nav) {
        width: max-content;
        margin: auto;
    }

    &::part(tabs) {
        border-bottom-color: transparent;
    }
}

#messageInp {
    display: flex;
    align-items: center;
    left: 0;
    font-size: 15px;
    background-color: var(--sl-color-neutral-100);
    border-radius: var(--sl-border-radius-x-large);
    width: 98%;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 5px;
    position: relative;
    max-height: 80vh;

    html.sl-theme-dark & {
        background-color: var(--sl-color-neutral-50);
    }
}

#contacts sl-card {
    --sl-shadow-x-small: none;
}

#contacts::part(base) {
    height: 100%;
}

#contacts::part(body) {
    flex-grow: 1;
}

#contacts::part(footer) {
    position: sticky;
    bottom: 0;
    background: var(--sl-panel-background-color);
}

#contacts .contact .badge {
    color: var(--sl-panel-background-color);
    position: absolute;
    right: 10px;
    top: 14px;
    background-color: var(--sl-color-primary-500);
    padding: 5px;
    border-radius: 30px;
    font-size: 13px;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 6px;
}

#contacts .contact {
    cursor: pointer;
    position: relative;
    transition: background-color var(--sl-transition-fast);
    padding-block: var(--sl-spacing-3x-small);

    &:focus-visible {
        box-shadow: var(--sl-focus-ring);
    }

    .badge span {
        position: relative;
        bottom: 4px;
        font-weight: 700;
    }

    &:hover {
        background-color: var(--sl-color-neutral-100);
    }

    &:active {
        background-color: var(--sl-color-neutral-200);
    }

    .chatMessagePreview {
        transition: color var(--sl-transition-fast);
    }

    &.unreadMsgs .chatMessagePreview {
        color: var(--sl-color-primary-700);
        font-weight: 500;
    }
}

.bar {
    background-color: var(--sl-panel-background-color);
    z-index: 5;
    top: 0;
}

#lastOnline {
    position: absolute;
    bottom: 7.5px;
    left: 57px;
    opacity: 0.7;
    font-size: 12px;
}

#themeColorPicker::part(grid) {
    // Since there's no use of brightness selector, as color's brightness is set automaitcally, we're hiding this.
    display: none;
}

#emojiComplete {
    position: absolute;
    bottom: 60px;
    background-color: var(--sl-panel-background-color);
    left: 0;
    right: 0;
    border-radius: var(--ui-radius);
    max-height: 75vh;
    overflow-y: auto;
    z-index: 6;
}

#emojiComplete div {
    transition: background-color var(--sl-transition-fast);
}

#emojiComplete .selected {
    font-weight: 500;
    background-color: var(--sl-color-primary-500);
    color: var(--sl-panel-background-color);
}

#gifsPanel {
    width: 485px;
    max-width: 45vw;
    height: 75vh;
    overflow-y: auto;

    &::part(base) {
        height: 100%;
        overflow-y: scroll;
    }
}

#replyMessage {
    z-index: 6;
    display: flex;
    position: absolute;
    top: -55px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--sl-color-neutral-50);
    border-radius: var(--sl-border-radius-large);
    padding-inline: 10px;
    font-size: 18px;
    padding-block: 5px;
    height: 52px;
    text-overflow: clip;

    .vue-avatar--wrapper {
        margin-top: 5px;
        margin-right: 10px;
    }

    .msg-text {
        font-weight: 500;
        border-radius: var(--sl-border-radius-x-large);
        background-color: var(--sl-color-neutral-100);
        min-width: 50px;
        font-size: 17px;
        padding: var(--sl-spacing-x-small);
        padding-inline: var(--sl-spacing-small);
        width: max-content;
        max-width: 100%;
        overflow-y: auto;

        &.me {
            background-color: var(--sl-color-primary-600);
            color: var(--sl-color-neutral-100);
        }
    }

    #replyCloseButton {
        position: absolute;
        bottom: 55px;
        right: 0;
    }
}

#recordingLight {
    background-color: var(--sl-color-danger-600);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 15px;
    animation: blink 2s infinite;
    opacity: 0;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#instantUpload {
    z-index: 6;
    display: flex;
    position: absolute;
    top: -56px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--sl-color-neutral-50);
    border-radius: var(--sl-border-radius-large);
    padding-inline: 10px;
    font-size: 18px;
    padding-block: 5px;
    align-items: center;
    min-height: 54px;
}

// Just for more specificity
body {
    .emoji-mart {
        font-family: inherit;
    }

    .emoji-mart-search input {
        border: none;
        border-radius: 7px;
        padding: 6px;
        padding-left: 10px;
    }

    .emoji-mart {
        background-color: var(--sl-color-neutral-50);
        color: var(--sl-color-neutral-1000);
        border: none;
    }

    .emoji-mart-search input {
        background-color: var(--sl-color-neutral-100);
        color: var(--sl-color-neutral-1000);
    }

    .emoji-mart-category .emoji-mart-emoji:hover:before, .emoji-mart-emoji-selected:before {
        background: transparent;
    }

    .emoji-mart .emoji-mart-emoji {
        transition: transform 0.15s cubic-bezier(0.2, 0, 0.13, 2);
    }

    .emoji-mart-emoji-selected {
        transform: scale(1.5);
    }

    .emoji-mart .emoji-mart-emoji:hover {
        transform: scale(1.5);
        background-color: none;
    }

    .emoji-mart-anchor-bar {
        width: 15px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--sl-color-primary-600) !important;
    }

    .emoji-mart-anchor-selected .emoji-mart-anchor-bar {
        bottom: 7px;
        transition: all 0.5s;
    }

    .emoji-mart-anchor-selected {
        color: var(--sl-color-primary-600) !important;
    }

    .emoji-mart-category-label h3 {
        background-color: transparent;
    }
}

.sl-theme-dark {
    .emoji-mart-bar {
        border-color: transparent;
    }

    .emoji-mart-anchor:hover svg {
        fill: white;
    }

    .emoji-mart-anchors svg {
        fill: #dbdbdb;
    }
}

.userInfo {
    width: 350px;
    overflow: hidden;
    margin: 0;
    --padding: var(--sl-spacing-small);
}

.senderAvatarEl {
    cursor: pointer;
    transition: transform 0.2s;

    &:active {
        transform: scale(0.9);
    }

    &:focus-visible {
        box-shadow: var(--sl-focus-ring);
    }
}

#chatInfoBar {
    height: 100%;
    width: 250px;

    &::part(base) {
        height: 100%;
        width: 250px;
    }
}

#tagPreview {
    margin: auto;
    display: block;
}

.tag::part(base) {
    color: var(--color);
    background-color: var(--backgroundColor);
    border: none;
}