#contacts .card-text header .flex-box {
  padding: 0;
}
#contacts {
  height: 100%;
  overflow: auto;
  --padding: 0;
  width: 300px;
  max-width: 30vw;
}
h4 {
  margin: 0;
}
.no-padding {
  --padding: 0;
}
.no-border {
  --border-color: transparent;
}
/* #contacts .b-list-item + #contacts .b-list-item {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
} */

/* #contacts .b-list-item {
  border-color: transparent;
} */

/* #contacts > div {
  overflow-y: auto;
  overflow-x: hidden;
} */
/* #contacts > div > div > div > div.card-text > main > div > div > h3 {
  position: sticky;
  top: -5px;
  z-index: 1;
  background-color: white;
}
.dark #contacts > div > div > div > div.card-text > main > div > div > h3 {
  background-color: #242428;
} */
/* #contacts > div > div > div > div.card-footer {
  position: sticky;
  bottom: -5px;
  background-color: #242428;
}
html:not(.dark) #contacts > div > div > div > div.card-footer {
  background-color: white;
}
#contacts > div > div > div > div.card-text {
  padding-bottom: 20px;
} */
.seenUsersIndicator {
  gap: 5px;
  background-color: transparent !important;
}
p {
  margin: 0;
}
.chatWindowPreview svg {
  height: 100px;
  width: 200px;
}
#chatImage {
  max-width: 100%;
  object-fit: contain;
  border-radius: var(--ui-radius);
  margin: auto;
  display: block;
  height: 100%;
  padding: 20px;
  max-height: 70vh;
}
#imageThumbnails {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(30 30 30 / 75%);
  padding-block: 15px;
}
html:not(.dark) #imageThumbnails {
  background-color: rgb(255 255 255 / 75%);
}
img.thumbnailImage {
  object-fit: contain;
  max-height: 10vh;
  margin-inline: 15px;
  border: 2px solid #3e3e3e70;
  border-radius: var(--ui-radius);
  cursor: pointer;
}
img.thumbnailImage.selected {
  border-color: var(--primary);
}
#imagePreParent {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#fullScreenImageModal .modal {
  padding: 0;
  margin: 0;
}
#fullScreenImageModal .modal-backdrop {
  background-color: rgb(30 30 30 / 75%);
}
#fullScreenImageModal .modal-content {
  margin-block: 0;
  height: 100%;
  padding-left: 0;
  backdrop-filter: blur(15px);
}
.userInfoPara {
  opacity: 0.9;
  font-size: 12px;
  margin: 0 !important;
}
.senderAvatarEl {
  cursor: pointer;
  transition: transform 0.2s;
}
.senderAvatarEl:active {
  transform: scale(0.9);
}
body,
html {
  font-family: Inter, sans-serif;
}
#shorts .modal-backdrop {
  backdrop-filter: blur(10px);
}
.shortImageCaption {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 5px;
  padding-inline: 15px;
  margin: 0;
  border-bottom-left-radius: var(--ui-radius);
  border-bottom-right-radius: var(--ui-radius);
  background-image: linear-gradient(rgb(0 0 0 / 5%), rgb(0 0 0 / 75%));
  font-size: 20px;
  transition: opacity 0.2s;
  opacity: 1;
}
#shorts figure:hover .shortImageCaption {
  opacity: 0;
}
#shorts figure {
  width: max-content;
  margin: auto;
  position: relative;
  max-width: 100%;
}
#shorts figure::after,
#shorts figure::before {
  border-radius: var(--ui-radius);
}
#shorts .shortImage {
  border-radius: var(--ui-radius);
  max-height: 55vh;
  margin: auto;
  width: 100%;
  object-fit: contain;
}
#meetingInvite {
  position: fixed;
  bottom: 85px;
  right: 15px;
  z-index: 555;
  text-align: center;
}
[data-badge]::after {
  content: attr(data-badge);
  width: 20px;
  height: 20px;
  border-radius: 30px;
  display: block;
  position: absolute;
  right: -3px;
  bottom: -6px;
  background-color: var(--primary);
  text-align: center;
  font-size: 12px;
  transition: transform 0.2s;
  user-select: none;
  line-height: 2;
}
#shortsControl {
  position: fixed;
  top: 9vh;
  z-index: 50;
  left: 50px;
}
.vue-avatar--wrapper.shortThumbnail.selected {
  transform: scale(1.35);
}
.shortThumbnail {
  cursor: pointer;
  transition: transform 0.2s;
}
.shortThumbnail:active {
  transform: scale(0.9);
}
#uploadShort:active:after {
  transform: scale(0.9);
}
.sameDay {
  background-color: hsla(var(--bg-dark), 17%, 0.75);
  width: max-content;
  padding: 5px;
  border-radius: var(--ui-radius);
  padding-inline: 20px;
  text-align: center;
  margin: auto;
  margin-block: 15px;
}
#lastOnline {
  position: absolute;
  bottom: 10px;
  left: 61px;
  opacity: 0.7;
  font-size: 12px;
}
/* .b-list-item.item-clickable.contact {
  position: relative;
} */
#shortPhotoUpload {
  width: 100%;
  border-radius: var(--ui-radius);
  max-height: 200px;
  object-fit: contain;
}
#shortPhotoUploadParent {
  width: max-content;
  margin: auto;
}
.short {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: max-content;
  margin: auto;
  min-width: 490px;
}
html:not(.dark) #shorts .modal {
  background-color: #ffffff4a;
}
#shorts .modal {
  overflow: hidden;
}
#shortPhotoFilters {
  width: 42vw;
  display: inline-flex;
  overflow-x: scroll;
  margin: auto;
  /* Just to have some spacing between the scrollbar and filters */
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.filterPreview img {
  height: 100px;
}
.filterPreview:hover {
  transform: scale(1.25);
  z-index: 555;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.filterPreview:active {
  transform: scale(0.9);
}
figure.filterPreview img {
  height: 50px;
  border-radius: 5px;
  width: max-content;
  -webkit-user-drag: none;
}
figure.filterPreview {
  margin: 0;
  margin-right: 1px;
  border-radius: 5px;
  transition: transform 0.2s;
  margin-block: 7px;
  cursor: pointer;
}
figure.filterPreview::after,
figure.filterPreview::before {
  border-radius: 5px !important;
}
#shortPhotoUploadParent::after,
#shortPhotoUploadParent::before {
  border-radius: var(--ui-radius) !important;
}
#replyMessage {
  z-index: 6;
  display: flex;
  position: absolute;
  top: -38px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: hsl(var(--bg-dark), 12%);
  border-radius: var(--ui-radius);
  padding-inline: 10px;
  font-size: 18px;
  padding-block: 5px;
  height: 37px;
  text-overflow: clip;
  overflow-y: auto;
}
#instantUpload {
  z-index: 6;
  display: flex;
  position: absolute;
  top: -56px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: hsla(var(--bg-dark), 12%, 0.75);
  border-radius: var(--ui-radius);
  padding-inline: 10px;
  font-size: 18px;
  padding-block: 5px;
  align-items: center;
  backdrop-filter: blur(20px);
  min-height: 54px;
}
.card-text {
  flex-grow: 1;
}
.dark .card.storyMode {
  background-color: hsl(var(--bg-dark), 20%);
  box-shadow: none;
  cursor: pointer;
}
.dark .card.storyMode:hover {
  background-color: hsl(var(--bg-dark), 25%);
}
.storyModeBtn {
  width: 25%;
}
.b-list h3 {
  margin: 0;
}
#recordingLight {
  background-color: var(--danger);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 15px;
  animation: blink 2s infinite;
  opacity: 0;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.b-sidebar .card-footer {
  margin: 0;
  padding: 0;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input-inner-prepend {
  top: 6px !important;
}

.btn.loading .spinner_parent {
  top: 8px !important;
}

#msgInp .card:not(#gifsPanel) {
  border-radius: 0;
  padding-left: 0;
}

#msgInp .card:not(#gifsPanel) .card-text {
  margin: 0;
  padding: 0;
}

#gifsPanel header {
  position: sticky;
  top: 0;
}

#gifsPanel .card-text {
  padding: 0;
}

.gif img {
  width: 95px;
  border-radius: 5px;
  height: 95px;
  cursor: pointer;
  transition: transform 0.15s cubic-bezier(0.2, 0, 0.13, 2);
}

.gif:hover img {
  transform: scale(1.1);
}

.action-btn i,
.action-btn span {
  font-size: 22px;
}

.gif:active {
  transform: scale(1);
}

.gif img:active {
  transform: scale(0.95);
}

.gif {
  display: inline-block;
  margin: 5px;
  transition: all 0.2s;
}

#msgInp textarea {
  resize: none;
  max-height: 85vh;
  min-height: 44px;
  padding-right: 25px;
  width: 95%;
  margin-left: 2%;
}

#typingBar {
  position: absolute;
  top: -25px;
  left: 5px;
}

#emojiPicker {
  position: absolute;
  top: -755%;
  right: 10px;
}

.emoji-mart {
  font-family: inherit;
}

.emoji-mart-search input {
  border: none;
  border-radius: 7px;
  padding: 6px;
  padding-left: 10px;
}

.dark .emoji-mart {
  background-color: #222226c4;
  color: white;
  border: none;
  backdrop-filter: blur(20px);
}

.dark .emoji-mart-category-label h3 {
  background-color: transparent;
}

.dark .emoji-mart-search input {
  background-color: #161616;
  color: white;
}

.dark .emoji-mart-anchors svg {
  fill: #dbdbdb;
}

.dark .emoji-mart-anchor:hover svg {
  fill: white;
}

.dark .emoji-mart-bar {
  border-color: transparent;
}

.emoji-mart-category .emoji-mart-emoji:hover:before,
.emoji-mart-emoji-selected:before {
  background: transparent;
}

.emoji-mart .emoji-mart-emoji {
  transition: transform 0.15s cubic-bezier(0.2, 0, 0.13, 2);
}

.emoji-mart-emoji-selected {
  transform: scale(1.5);
}

.emoji-mart .emoji-mart-emoji:hover {
  transform: scale(1.5);
}

.emoji-mart-anchor-bar {
  width: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.emoji-mart-anchor-selected .emoji-mart-anchor-bar {
  bottom: 7px;
  transition: all 0.5s;
}

/* Or else the flexbox margin style messes things up */
section.emoji-mart.emoji-mart-static * {
  margin-left: unset;
  margin-right: unset;
}

#emojiBtn {
  padding: 1px;
  border: 30px;
  margin: auto;
  margin-right: 8px;
  margin-left: 8px;
  position: absolute;
  top: 14px;
  right: 125px;
}

/* contextMenu */
.card.contextMenu {
  width: max-content;
  min-width: 50px;
  border-radius: var(--ui-radius);
  font-size: 17px;
}

.card.contextMenu main {
  margin: 0;
}

.card.contextMenu p {
  margin: 0;
}

.card.contextMenu .card-text {
  margin: 0;
  padding: 0 !important;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.card.contextMenu .list-item-content p {
  padding-inline: 15px;
}

.card.contextMenu .b-list-item .list-item-content {
  padding: 0;
}

.b-list-item .list-item-content {
  padding-block: 0;
}

.card.contextMenu .b-list-item {
  margin: 0;
}

.dark .card.contextMenu {
  background-color: #222226;
}

.dark .card.contextMenu .b-list-item:not(.item-last) {
  border-bottom: 1px solid #454548;
}

/* .dark .card.contextMenu{
    --popper-theme-background-color: #222226;
    --popper-theme-background-color-hover: #222226;
    --popper-theme-text-color: white;
    --popper-theme-border-width: 0px;
    --popper-theme-border-radius: 6px;
    --popper-theme-padding: 0;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
} */

.card.contextMenu #arrow {
  transform: translate(8px, 0px) !important;
}

#scrollDownButton {
  position: fixed;
  right: 12px;
  bottom: 120px;
}

.nav {
  position: absolute;
}

#msgInp .chatInpBtn .icon {
  color: #d7d7d7;
}

#msgInp .chatInpBtn:hover .icon {
  color: white;
}

.flip-list-move {
  transition: transform 0.2s ease;
}

.chip {
  background-color: #282828;
  border-radius: 35px;
  display: inline-block;
  padding-inline: 5px;
  margin: 5px;
  font-size: 15px;
  user-select: none;
}

.chip:hover {
  background-color: #2c2c2c;
  cursor: pointer;
}

.chip:focus {
  background-color: var(--primary);
}

.vue-avatar--wrapper {
  position: relative;
}

.status-online.vue-avatar--wrapper::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 30px;
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0;
  background-color: var(--success);
}

#messageInp {
  display: flex;
  align-items: center;
  left: 0;
  font-size: 15px;
  background-color: hsl(var(--bg-dark), 15%);
  border-radius: var(--ui-radius);
  width: 98%;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 5px;
  position: relative;
  max-height: 80vh;
}
html:not(.dark) #messageInp {
  display: flex;
  align-items: center;
  left: 0;
  font-size: 15px;
  background-color: hsl(var(--bg), 100%);
  border-radius: var(--ui-radius);
  width: 98%;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 5px;
  position: relative;
  max-height: 80vh;
  border: solid hsl(var(--bg), 93%) 1px;
}
html:not(.dark) .messageBtn {
  color: hsl(var(--bg), 40%);
}
html:not(.dark) .messageBtn.mdi-plus {
  color: var(--primary);
  opacity: 1 !important;
}
html:not(.dark) .emoji-mart-search input {
  border: 1px solid #d9d9d9;
}
html:not(.dark) #emojiComplete {
  background-color: hsl(var(--bg), 100%);
}
html:not(.dark) #emojiComplete .selected {
  color: white;
}
html:not(.dark) #replyMessage {
  background-color: hsl(var(--bg), 100%);
  border: solid hsl(var(--bg), 93%) 1px;
}
#messageInp .editable {
  width: 80%;
  flex-grow: 1;
  padding-block: 15px;
  padding-inline: 5px;
  cursor: text;
}

.msg-text * {
  /* So if u copy past smthn thts html, u dont want its styling u want urs */
  background-color: transparent !important;
}

#messageInp .editable:hover:empty:before {
  opacity: 0.8;
}

#messageInp .messageBtn {
  cursor: pointer;
  font-size: 20px;
  margin-inline: 10px;
  opacity: 0.8;
  transition: transform 0.2s;
}

#messageInp .messageBtn:hover {
  opacity: 1;
}

#messageInp .messageBtn:active {
  transform: scale(0.9);
}

#messageInp .emojiBtn {
  margin-inline: 25px;
}

.popperBtn {
  position: relative;
  top: 15px;
}

.chatName {
  font-size: 15px;
}

.chatMessagePreview {
  display: block;
  width: 195px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-right: -36px !important;
  opacity: .85;
}
.dark .newMessage.chatMessagePreview {
  color: white;
  font-weight: 600;
}
#emojiComplete {
  position: absolute;
  bottom: 60px;
  background-color: #242424;
  left: 0;
  right: 0;
  border-radius: var(--ui-radius);
  max-height: 75vh;
  overflow-y: auto;
  z-index: 6;
}

#emojiComplete .selected {
  background-color: var(--primary);
}
#audioPlyr {
  position: absolute;
  top: -55px;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
}
audio.sc-vm-file,
video.sc-vm-file {
  display: none;
}
