@import '../../../variables.styl';

#likeEmojiPicker {
    height: 350px;
    overflow-y: scroll;
}

#groupArchivedMessage {
    padding: 15px;
    background-color: lighten($bg-dark, 9%);
    display: flex;
    align-items: center;

    .btn {
        padding: 5px;
    }
}

.chatWindowPreview {
    background-color: lighten($bg-dark, 2%);
    border-radius: var(--ui-radius);
    cursor: pointer;
    border: solid 2px lighten($bg-dark, 2%);
    transition: border-color 0.2s;

    &:hover {
        border-color: lighten($bg-dark, 15%);
    }

    &:active {
        border-color: lighten($bg-dark, 20%);
    }

    &.selected {
        border-color: $primary;
    }
}

.msg-text {
    blockquote {
        border-left: 3px solid $primary;
        padding-left: 10px;
        margin: 0;
        opacity: 0.7;
    }
}

&.me {
    blockquote {
        border-color: white;
    }
}

.memberLabel {
    position: absolute;
    right: 0;
    top: 8px;
    font-size: 14px;
    border-radius: 5px;
    padding-inline: 5px;
}

.memberActionButtons {
    position: absolute;
    right: 0;
    top: 1px;
    opacity: 0;
    transition: opacity 0.2s;
}

#tagPreview {
    width: max-content;
    margin: auto;
    border-radius: 7px;
    padding-inline: 10px;
    font-size: 20px;
}

.tag {
    width: max-content;
    border-radius: 7px;
    display: inline-flex;
    padding-block: 1px;
    padding-inline: 10px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 14px;
    user-select: none;
}

.userTag {
    color: var(--tagColor);
    border: 1px solid var(--tagColor);
    padding-block: 0px;
    padding-inline: 5px;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 12px;
    position: relative;
    bottom: 1px;
    // To make the text contrasting enough
    filter: brightness(1.15);
}

#totTags {
    .tag {
        position: relative;

        .tagCloseButton {
            position: absolute;
            right: 0;
            top: 0px;
            background-color: var(--tagColor);
            border-radius: 7px;
            padding-left: 5px;
            padding-right: 7px;
            bottom: 0;
            opacity: 0;
            cursor: pointer;
            transition: opacity 0.2s, transform 0.2s;

            &:active {
                transform: scale(0.9);
            }
        }

        &:hover .tagCloseButton {
            opacity: 1;
        }
    }
}

.tagSelectDialog {
    border-radius: var(--ui-radius) !important;
    box-shadow: #00000075 0px 5px 15px;
    width: max-content;
    padding: 5px;
    background-color: lighten($bg-dark, 5%);

    .tag {
        cursor: pointer;
        transition: filter 0.2s;

        &:hover {
            filter: brightness(1.25);
        }

        &:active {
            filter: brightness(1.05);
        }
    }
}

.memberInfo:hover .memberActionButtons {
    opacity: 1;
}

.isAdmin .memberLabel:not(.adminLabel) {
    right: 60px;
}

.adminLabel {
    border: 2px solid $primary;
    color: $primary;
}

html.dark .adminLabel {
    color: $primary-text;
}

html:not(.dark) {
    #groupArchivedMessage {
        background-color: white;
        border: 1px solid darken($bg, 5%);
    }
}

sl-input::part(base), sl-textarea::part(base) {
    border-radius: var(--sl-input-border-radius-large);
}

#uploadShort::after {
    content: '+';
    width: 20px;
    height: 20px;
    border-radius: 30px;
    display: block;
    position: absolute;
    right: -3px;
    bottom: -6px;
    background-color: var(--sl-color-primary-500);
    text-align: center;
    font-size: 14px;
    transition: transform 0.2s;
    cursor: pointer;
    line-height: 1.3;
    color: var(--sl-color-neutral-50);
    font-weight: 700;
}

sl-tab-group.centered {
    &::part(nav) {
        width: max-content;
        margin: auto;
    }

    &::part(tabs) {
        border-bottom-color: transparent;
    }
}

#contacts sl-card {
    --sl-shadow-x-small: none;
}

#contacts::part(base) {
    height: 100%;
}

#contacts::part(body) {
    flex-grow: 1;
}

#contacts::part(footer) {
    position: sticky;
    bottom: 0;
    background: var(--sl-panel-background-color);
}

#contacts .contact .badge {
    color: var(--sl-color-neutral-50);
    position: absolute;
    right: 10px;
    top: 14px;
    background-color: var(--sl-color-primary-500);
    padding: 5px;
    border-radius: 30px;
    font-size: 13px;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 6px;
}

#contacts .contact {
    cursor: pointer;
    position: relative;
    transition: background-color var(--sl-transition-fast);
    padding-block: var(--sl-spacing-3x-small);

    .badge span {
        position: relative;
        bottom: 4px;
        font-weight: 700;
    }

    &:hover {
        background-color: var(--sl-color-neutral-100);
    }

    &:active {
        background-color: var(--sl-color-neutral-200);
    }

    .chatMessagePreview {
        transition: color var(--sl-transition-fast);
    }

    &.unreadMsgs .chatMessagePreview {
        color: var(--sl-color-primary-700);
        font-weight: 500;
    }
}

.bar {
    background-color: var(--sl-panel-background-color);
    z-index: 5;
    top: 0;
}

#lastOnline {
    position: absolute;
    bottom: 7.5px;
    left: 57px;
    opacity: 0.7;
    font-size: 12px;
}

#themeColorPicker::part(grid) {
    // Since there's no use of brightness selector, as color's brightness is set automaitcally, we're hiding this.
    display: none;
}