#contacts .card-text header .flex-box {
    padding: 0;
}

body,
html {
    font-family: Inter, sans-serif;
}

.card-text {
    flex-grow: 1;
}

.b-list h3 {
    margin: 0;
}

.b-sidebar .card-footer {
    margin: 0;
    padding: 0;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.input-inner-prepend {
    top: 6px !important;
}

.btn.loading .spinner_parent {
    top: 8px !important;
}

#msgInp .card:not(#gifsPanel) {
    border-radius: 0;
    padding-left: 0;
}

#msgInp .card:not(#gifsPanel) .card-text {
    margin: 0;
    padding: 0;
}

#gifsPanel header {
    position: sticky;
    top: 0;
}

.gif img {
    width: 95px;
    border-radius: 5px;
    height: 95px;
    cursor: pointer;
    transition: transform .15s cubic-bezier(0.2, 0, 0.13, 2);

}

.gif:hover img {
    transform: scale(1.1);

}

.action-btn i,
.action-btn span {
    font-size: 22px;
}

.gif:active {
    transform: scale(1);
}

.gif img:active {
    transform: scale(.95);
}

.gif {
    display: inline-block;
    margin: 5px;
    transition: all .2s;
}

#msgInp textarea {
    resize: none;
    max-height: 85vh;
    min-height: 44px;
    padding-right: 25px;
    width: 95%;
    margin-left: 2%;
}

#typingBar {
    position: absolute;
    top: -25px;
    left: 5px;
}

#emojiPicker {
    position: absolute;
    top: -755%;
    right: 10px;
}

.emoji-mart {
    font-family: inherit;
}

.emoji-mart-search input {
    border: none;
    border-radius: 7px;
    padding: 6px;
    padding-left: 10px;
}

.dark .emoji-mart {
    background-color: #222226c4;
    color: white;
    border: none;
    backdrop-filter: blur(20px);
}

.dark .emoji-mart-category-label h3 {
    background-color: transparent;
}

.dark .emoji-mart-search input {
    background-color: #161616;
    color: white;
}

.dark .emoji-mart-anchors svg {
    fill: #dbdbdb;
}

.dark .emoji-mart-anchor:hover svg {
    fill: white;
}

.dark .emoji-mart-bar {
    border-color: transparent;
}

.emoji-mart-category .emoji-mart-emoji:hover:before,
.emoji-mart-emoji-selected:before {
    background: transparent;
}

.emoji-mart .emoji-mart-emoji {
    transition: transform .15s cubic-bezier(0.2, 0, 0.13, 2);
}

.emoji-mart .emoji-mart-emoji:hover {
    transform: scale(1.5);
}

.emoji-mart-anchor-bar {
    width: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.emoji-mart-anchor-selected .emoji-mart-anchor-bar {
    bottom: 7px;
    transition: all .5s;
}

/* Or else the flexbox margin style messes things up */
section.emoji-mart.emoji-mart-static * {
    margin-left: unset;
    margin-right: unset;
}

#emojiBtn {
    padding: 1px;
    border: 30px;
    margin: auto;
    margin-right: 8px;
    margin-left: 8px;
    position: absolute;
    top: 14px;
    right: 125px;
}

/* contextMenu */
.card.contextMenu {
    width: max-content;
    min-width: 50px;
    border-radius: var(--ui-radius);
    font-size: 17px;
}

.card.contextMenu main {
    margin: 0;
}

.card.contextMenu p {
    margin: 0;
}

.card.contextMenu .card-text {
    margin: 0;
    padding: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}

.card.contextMenu .list-item-content p {
    padding-inline: 15px;
}

.card.contextMenu .b-list-item .list-item-content {
    padding: 0;
}

.card.contextMenu .b-list-item {
    margin: 0;
}

.dark .card.contextMenu {
    background-color: #222226;
}

.dark .card.contextMenu .b-list-item:not(.item-last) {
    border-bottom: 1px solid #454548;
}

/* .dark .card.contextMenu{
    --popper-theme-background-color: #222226;
    --popper-theme-background-color-hover: #222226;
    --popper-theme-text-color: white;
    --popper-theme-border-width: 0px;
    --popper-theme-border-radius: 6px;
    --popper-theme-padding: 0;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
} */

.card.contextMenu #arrow {
    transform: translate(8px, 0px) !important;
}


#scrollDownButton {
    position: fixed;
    right: 12px;
    bottom: 120px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#contacts .b-list-item {
    border-color: transparent;
}

#msgInp .chatInpBtn .icon {
    color: #d7d7d7;
}

#msgInp .chatInpBtn:hover .icon {
    color: white;
}

.flip-list-move {
    transition: transform 0.2s ease;
}

.chip {
    background-color: #282828;
    border-radius: 35px;
    display: inline-block;
    padding-inline: 5px;
    margin: 5px;
    font-size: 15px;
    user-select: none;
}

.chip:hover {
    background-color: #2c2c2c;
    cursor: pointer;
}

.chip:focus {
    background-color: var(--primary);
}

.vue-avatar--wrapper {
    position: relative;
}

.status-online.vue-avatar--wrapper::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 30px;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0;
    background-color: var(--success);
}