@import '../../../variables.styl';

:root {
    --chat-me-color: $primary;
}

.chatWindowSimple {
    .msg .msg-text {
        font-weight: 500;
        border-radius: var(--sl-border-radius-x-large);
        background-color: var(--sl-color-neutral-100);
        min-width: 50px;
        font-size: 17px;
        word-break: break-word;
        transition: border-radius 0.5s;
        align-items: center;
        white-space: break-spaces;
        max-width: 50vw;
        padding: var(--sl-spacing-x-small);
        padding-inline: var(--sl-spacing-small);
    }

    .msg:not(.sub) {
        .msg-gif {
            // Or else the username overlaps the GIF
            margin-top: var(--sl-spacing-x-small);
        }
    }

    .sameDay {
        background-color: var(--sl-color-neutral-200);
        width: max-content;
        padding: 5px;
        border-radius: var(--sl-border-radius-x-large);
        padding-inline: 20px;
        text-align: center;
        margin: auto;
        margin-block: 15px;
    }

    .msg:not(.sub):not(.sub.last) {
        .seenUsers {
            margin-left: 40px;
        }
    }

    .msg.reacted .seenUsers {
        margin-top: 18px;
    }

    .messageActions {
        padding: 5px;
        opacity: 0;
        transition: opacity var(--sl-transition-fast);

        .addReactionBtn svg {
            height: 18px;
            width: 100%;
        }

        sl-icon, .addReactionBtn {
            margin-inline: 3px;
            visibility: visible;
            cursor: pointer;
        }
    }

    .msg:hover .messageActions {
        opacity: 1;
    }

    .link-preview-parent {
        width: 60% !important;
        margin-right: 7px;
        margin-top: 7px;
    }

    .msg {
        position: relative;
    }

    .reaction {
        transition: background 0.2s;
        border-radius: 20px;
    }

    .reactions .reaction .flex-box {
        align-items: center;
    }

    .reactions .flex-box span {
        margin: 0;
    }

    .reactions .reactionNumber {
        padding-right: 5px;
        font-size: 13px;
        user-select: none;
    }

    .me .msg-text {
        background-color: var(--sl-color-primary-600);
        color: var(--sl-panel-background-color);
    }

    .me a {
        text-decoration: underline;
        color: inherit;
    }

    :not(.reply).sub, :not(.reply).sub.last {
        margin-left: 30px;
    }

    .link-preview-wrapper {
        margin-left: 50px;
    }

    .fileMsg {
        background-color: var(--sl-color-neutral-100);
        position: relative;
        margin-bottom: 5px;
        width: max-content;
        margin-left: 30px;
        padding: 7px;
        padding-inline: 12px;
        font-size: 17px;
        border-radius: var(--ui-radius);

        .btn {
            height: max-content;
            margin: auto;
            margin-bottom: 0px;
            padding: 4px;
            box-shadow: none !important;

            &.loading {
                height: 32px;
                position: relative;
                top: -4px;
            }

            .spinner_parent {
                height: max-content;
            }
        }
    }

    .me .fileMsg {
        background-color: var(--primary);
        border-radius: 1.125rem 1.125rem 0.15rem 1.125rem;
    }

    .sub .fileMsg {
        border-radius: 1.125rem;
    }

    .me.sub .fileMsg {
        border-radius: 1.125rem;
    }

    .last .fileMsg {
        border-radius: 0.15rem 1.125rem 1.125rem 1.125rem;
    }

    .me.last .fileMsg {
        border-radius: 1.125rem 0.15rem 1.125rem 1.125rem;
    }

    .msg .fileMsg .flex-box {
        padding: 0;
    }

    .msg-image {
        width: max-content;
        display: block;
        position: relative;

        img {
            border-radius: var(--ui-radius);
            max-width: 99%;
            object-fit: contain;
            height: max-content;
            min-height: 60px;
            max-height: 40vh;
        }

        .controls {
            display: flex;
            position: absolute;
            top: 5px;
            right: 5px;
            transition: opacity 0.2s;

            .btn {
                transition: transform 0.2s, background-color 0.2s;
                transform: scale(0);
            }
        }

        &:hover {
            .controls .btn {
                transform: scale(1);
            }
        }
    }

    .username {
        position: absolute;
        left: 55px;
        top: -10px;
        color: grey;
    }

    .time {
        text-align: center;
        color: lighten($bg-dark, 50);
        font-size: 11px;
    }

    @keyframes messageAnimation {
        from {
            opacity: 0;
            transform: translate3d(-50px, 0, 0);
        }

        to {
            opacity: 1;
            transform: none;
        }
    }

    .messageAnimation-enter-active, .messageAnimationIn, .messageAnimation-leave-active, .messageAnimationOut {
        animation-duration: 0.5s;
        animation-fill-mode: both;
    }

    .messageAnimation-enter-active, .messageAnimationIn {
        animation-name: messageAnimation;
    }

    .messageAnimation-leave-active, .messageAnimationOut {
        animation-name: messageAnimation;
    }

    .msg .flex-box {
        padding-block: 1px;
        align-items: inherit;
    }

    .msg-text .emojiImg {
        width: 17px;
        height: 17px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .msg-reply .emojiImg {
        width: 17px;
        height: 17px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .msg:not(.reply):not(.sub):not(.sub.last) div.msg-text {
        margin-top: 10px;
    }

    .msg-reply-parent {
        .msg-text {
            width: max-content;
            margin: 0;
        }

        .msg-reply {
            background-color: var(--sl-panel-background-color);
            border-radius: 30px;
            padding-inline: 5px;
            padding-block: 4px;
            margin-bottom: 5px;
            width: max-content;
            display: flex;
            align-items: center;
        }
    }

    .oneEmoji .emojiImg {
        width: 50px;
        height: 50px;
    }

    .reactions {
        position: absolute;
        bottom: -15px;
        background-color: var(--sl-color-neutral-100);
        border-radius: 35px;
        height: max-content;
        left: 20px;
        display: flex;
        border: var(--sl-color-neutral-200) 1px solid;
        box-shadow: var(--sl-shadow-small);
    }

    .msg:not(.sub) .reactions {
        left: 50px;
    }

    .reaction:hover {
        background-color: var(--sl-color-neutral-200);
        cursor: pointer;
    }

    .reaction:active {
        background-color: var(--sl-color-neutral-300);
        cursor: pointer;
    }

    .messageActionBtn {
        transform: scale(0);
        transition: transform 0.2s;
        position: absolute;
        display: block;
        padding: 0;
        margin: 0;
        left: 45px;
    }

    .msg:hover .messageActionBtn {
        transform: scale(1);
    }

    .msg:not(.last):not(.sub) .messageActionBtn {
        top: 5px;
    }

    .msg.last .messageActionBtn {
        top: -10px;
    }

    .msg.sub .messageActionBtn {
        top: -10px;
    }

    .msg.sub.last .messageActionBtn {
        top: -10px;
    }

    .inline-block {
        display: block !important;
    }

    .reactions .flex-box span {
        margin: 0;
    }

    .reactions .reactionNumber {
        padding-right: 5px;
        font-size: 13px;
    }

    .reacted {
        margin-bottom: 25px;
    }

    .user-reacted {
        color: var(--sl-color-primary-600);
    }

    // html:not(.dark) .msg-text {
    // color: white;
    // }

    // html:not(.dark) .time {
    // color: #000 a8;
    // }

    // html:not(.dark) .reactions {
    // background-color: #fff;
    // }

    // html:not(.dark) .reaction:hover {
    // background-color: #e5e5e5;
    // }

    // html:not(.dark) #emojiBtn {
    // color: #565656;
    // }
    textarea {
        min-height: 50px;
    }

    .msg-gif img {
        border-radius: var(--ui-radius);
    }

    .msg .senderAvatar {
        align-self: baseline;
    }

    .msg.reply {
        .replyingToMessage {
            opacity: 0.5;
            position: relative;
        }

        small {
            display: block;
            margin-left: 55px;
            margin-block: 7px;

            b {
                font-weight: 600;
            }
        }

        .replyingToMessage:after {
            content: '';
            width: 3px;
            background-color: var(--sl-color-neutral-200);
            position: absolute;
            top: 37px;
            bottom: 0;
            left: 21.815px;
        }
    }

    .info-message {
        font-size: 15px;
        margin: auto;
        display: block;
        width: max-content;
        background-color: var(--sl-panel-background-color);
        border-radius: var(--sl-border-radius-pill);
        padding-inline: var(--sl-spacing-2x-small);
        margin-block: var(--sl-spacing-medium);
    }

    .msg:not(.sub) {
        // Or the usernames collide
        margin-top: var(--sl-spacing-small);

        .messageActions {
            // The first ones always have their messageactions higher than the other messages
            margin-top: var(--sl-spacing-x-small);
        }

        .msg-reply-parent {
            .msg-text {
                margin-top: 0 !important;
            }

            .msg-reply {
                margin-top: 10px;
                margin-bottom: 2px;
            }
        }

        .msg-image {
            margin-top: 10px;
        }
    }
}