/* :root {
    --popper-theme-background-color: #333333;
    --popper-theme-background-color-hover: #333333;
    --popper-theme-text-color: #ffffff;
    --popper-theme-border-width: 0px;
    --popper-theme-border-style: solid;
    --popper-theme-border-radius: 6px;
    --popper-theme-padding: 32px;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
} */
:root {
  --bg: 0, 0%;
  --bg-dark: 240, 5%;
}
.btn.loading.btn-icon {
  height: 44px;
}
html.dark,
html.dark body {
  background-color: hsl(240deg 5% 9%);
}
#confetti-canvas {
  position: absolute;
  top: 0;
}
.center {
  margin: auto;
}

.btn-block.btn.loading .spinner_parent {
  top: 7px;
}

.btn {
  display: block;
}

.tooltip {
  cursor: pointer;
  position: relative;
}

[data-tooltip] {
  cursor: pointer;
  position: relative;
  overflow: inherit;
}

[data-tooltip]::after {
  background-color: #303030;
  font-weight: normal;
  color: white;
  font-size: 14px;
  padding: 8px 12px;
  height: max-content;
  width: max-content;
  border-radius: 6px;
  position: absolute;
  text-align: center;
  bottom: 0px;
  left: 50%;
  content: attr(data-tooltip);
  transform: translate(-50%, 110%) scale(0);
  transform-origin: top;
  transition: 0.14s;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.05);
  z-index: 5555555555;
}

[data-tooltip]:hover:after {
  display: block;
  transform: translate(-50%, 110%) scale(1);
}
a {
  color: #6fa1ff;
  text-decoration: none;
}
html:not(.dark) a {
  color: var(--primary);
}
#splashScreen {
  background-image: url(./assets/logos/logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9555;
  background-color: #0c0b0b;
  background-size: 30%;
  background-position-y: 15vh;
  display: none;
}
#splashScreen:after {
  content: "Oneline";
  position: fixed;
  color: white;
  top: 65vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
}
#app[v-cloak] + #splashScreen {
  display: block;
}
.vue-skeletor{
  border-radius: var(--ui-radius);
}
html.dark .vue-skeletor:not(.vue-skeletor--shimmerless):after {
  background-image: linear-gradient(
    90deg,
    rgb(0 0 0 / 0%),
    rgb(57 57 64 / 30%),
    rgba(37, 22, 22, 0)
  );
}
